@model Classroom.Models.Assignment

<h3>@Model.name</h3>


<div>

    @Model.description

</div>

<a class="btn btn-outline-dark btn-hover">Submit</a>



<a class="btn btn-outline-dark btn-hover">View submitted work</a>

