@model Classroom.ViewModels.ClassListViewModel

<h2>Courses</h2>

<div>
    @foreach (Class classCourse in Model.ClassCourses)
    {
        <a asp-action="Class" asp-controller="Class" asp-route-courseId="@classCourse.Id">@classCourse.Title</a>
    }
</div>
<div>
    <a asp-action="ClassCreate" asp-controller="Class">New Class</a>
</div>
