@model Classroom.ViewModels.AssignmentStatusViewModel
<h2>Assignments</h2>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Assignment</th>
            <th scope="col">Deadline</th>

        </tr>
    </thead>
    <tbody>
        @foreach (Assignment assignment in @Model.assignments)
        {

                <tr>
                    <td>
                        <a asp-action="AssignmentView" asp-route-assignmentId="@assignment.id">@assignment.name</a>

                    </td>
                    <td>
                        @assignment.deadline
                    </td>
                </tr>
        }
        </tbody>
    </table>


